// place your custom styles here

// Make the avatar round.
.vp-blogger-avatar {
  border-radius: 50%;
}

// Center the 'heroText'.
#main-title {
  text-align: center;
}

// Center 'tagline'.
#main-description {
  text-align: center;
}

.footer-quote {
  text-align: right;
  opacity: .8;
  font-size: 0.9em;
}

blockquote .footer-quote {
  margin-top: .5rem;
}