// Main theme color
$theme-color: #096dd9;

// Fonts
$vp-font: '"Noto Sans SC", "Noto Sans JP", sans-serif';
$vp-font-heading: '"REM", "Noto Sans SC", "Noto Sans JP", sans-serif';
$vp-font-mono: '"JetBrains Mono", "Noto Sans SC", "Noto Sans JP", monospace';