// Main theme color
$theme-color: #096dd9;

// Fonts
$font-family: '"Noto Sans SC", "Noto Sans JP", sans-serif';
$font-family-heading: '"REM", "Noto Sans SC", "Noto Sans JP", sans-serif';
$font-family-mono: '"JetBrains Mono", "Noto Sans SC", "Noto Sans JP", monospace';